/* Estilo para el cuerpo del documento */
body {
    font-family: Arial, sans-serif; /* Establece la fuente del texto */
    background-color: #f0f0f0; /* Color de fondo del cuerpo */
    text-align: center; /* Centra el texto en el cuerpo */
    margin: 20px; /* Establece márgenes alrededor del cuerpo */
}

/* Estilo para el formulario */
form {
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente en el contenedor */
    background-color: #fff; /* Color de fondo del formulario */
    padding: 20px; /* Espaciado interior del formulario */
    border-radius: 8px; /* Bordes redondeados del formulario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra del formulario */
}

/* Estilo para las etiquetas */
label {
    display: block; /* Muestra las etiquetas en un bloque separado */
    margin-bottom: 8px; /* Márgenes inferiores de las etiquetas */
}

/* Estilo para los campos de entrada de texto */
input {
    width: 100%; /* Ancho completo del contenedor padre */
    padding: 8px; /* Espaciado interior de los campos de entrada */
    margin-bottom: 16px; /* Márgenes inferiores de los campos de entrada */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y alto total */
}

/* Estilo para los menús desplegables */
select {
    width: 100%; /* Ancho completo del contenedor padre */
    padding: 8px; /* Espaciado interior de los menús desplegables */
    margin-bottom: 16px; /* Márgenes inferiores de los menús desplegables */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y alto total */
}

/* Estilo para los botones */
button {
    background-color: #4caf50; /* Color de fondo del botón principal */
    color: #fff; /* Color del texto del botón principal */
    padding: 10px 20px; /* Espaciado interior del botón principal */
    border: none; /* Elimina el borde del botón */
    border-radius: 4px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilo específico para el botón con la clase 'cancel' */
button.cancel {
    background-color: #ccc; /* Color de fondo del botón de cancelar */
}
